In [1]:
pip install pandas numpy scipy scikit-learn statsmodels matplotlib pandas-datareader simfin

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (2.3.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: scipy in c:\users\dell\anaconda3\lib\site-packages (1.13.1)
Requirement already satisfied: scikit-learn in c:\users\dell\anaconda3\lib\site-packages (1.6.0)
Requirement already satisfied: statsmodels in c:\users\dell\anaconda3\lib\site-packages (0.12.2)
Requirement already satisfied: matplotlib in c:\users\dell\anaconda3\lib\site-packages (3.4.3)
Requirement already satisfied: pandas-datareader in c:\users\dell\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: simfin in c:\users\dell\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: patsy>=0.5 in c:\users\dell\anaconda3\lib\site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib) (8.4.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: lxml in c:\users\dell\anaconda3\lib\site-packages (from pandas-datareader) (5.3.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\dell\anaconda3\lib\site-packages (from pandas-datareader) (2.32.5)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.16.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)

In [4]:
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr

tickers = [
    'AAPL.US','MSFT.US','AMZN.US','META.US','NVDA.US',
    'JPM.US','BAC.US','WFC.US',
    'JNJ.US','PFE.US',
    'XOM.US','CVX.US',
    'KO.US','PG.US',
    'DIS.US','NFLX.US'
]

start = '2015-01-01'
end = '2024-12-31'

prices = {}

for t in tickers:
    df = pdr.DataReader(t, 'stooq', start, end)
    df = df.sort_index()
    prices[t] = df['Close']

price_df = pd.DataFrame(prices)

monthly_prices = price_df.resample('ME').last()

returns = np.log(monthly_prices / monthly_prices.shift(1))
returns = returns.dropna(axis=1, thresh=110)
returns = returns.dropna(how='all')

In [5]:
returns.head()

,AAPL.US,MSFT.US,AMZN.US,META.US,NVDA.US,JPM.US,BAC.US,WFC.US,JNJ.US,PFE.US,XOM.US,CVX.US,KO.US,PG.US,DIS.US,NFLX.US
Date,,,,,,,,,,,,,,,,
2015-02-28,0.095800,0.088966,0.069799,0.039520,0.142886,0.119477,0.042719,0.060348,0.030445,0.102615,0.027791,0.049555,0.050517,0.009944,0.134781,0.072268
2015-03-31,-0.031837,-0.075715,-0.021430,0.040270,-0.052921,-0.011556,-0.023874,-0.007056,-0.018844,0.013512,-0.040807,-0.016191,-0.057329,-0.038236,0.007691,-0.130781
2015-04-30,0.005770,0.179333,0.125321,-0.042806,0.058784,0.049924,0.034596,0.012696,-0.013995,-0.024996,0.027462,0.056364,0.000117,-0.022083,0.035799,0.289327
2015-05-31,0.044176,-0.030749,0.017509,0.005318,0.001925,0.039089,0.035087,0.022292,0.016682,0.032073,-0.016864,-0.065496,0.009855,-0.014168,0.015085,0.114575
2015-06-30,-0.037823,-0.059540,0.011259,0.079761,-0.095780,0.029650,0.034115,0.004959,-0.027117,-0.035735,-0.023767,-0.065467,-0.034913,-0.001955,0.033649,0.051356

In [6]:
pip install simfin

Requirement already satisfied: simfin in c:\users\dell\anaconda3\lib\site-packages (1.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (from simfin) (2.3.3)
Requirement already satisfied: numpy in c:\users\dell\anaconda3\lib\site-packages (from simfin) (1.26.4)
Requirement already satisfied: requests in c:\users\dell\anaconda3\lib\site-packages (from simfin) (2.32.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas->simfin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas->simfin) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dell\anaconda3\lib\site-packages (from pandas->simfin) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->simfin) (1.16.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\dell\anaconda3\lib\site-packages (from requests->simfin) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\dell\anaconda3\lib\site-packages (from requests->simfin) (3.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\dell\anaconda3\lib\site-packages (from requests->simfin) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\dell\anaconda3\lib\site-packages (from requests->simfin) (2021.10.8)

In [7]:
import simfin as sf

In [8]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\dell\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [9]:
from dotenv import load_dotenv
import os

load_dotenv()

SIMFIN_API_KEY = os.getenv("SIMFIN_API_KEY")

In [10]:
assert SIMFIN_API_KEY is not None

In [11]:
import simfin as sf

sf.set_api_key(SIMFIN_API_KEY)
sf.set_data_dir("simfin_data")

In [12]:
sf.load_companies().head()

Dataset "us-companies" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

C:\Users\dell\anaconda3\lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

,SimFinId,Company Name,IndustryId,ISIN,End of financial year (month),Number Employees,Business Summary,Market,CIK,Main Currency
Ticker,,,,,,,,,,
A,45846,AGILENT TECHNOLOGIES INC,106001.0,US00846U1016,10.0,16400.0,Agilent Technologies Inc is engaged in life sc...,us,1090872.0,USD
A21,1333027,Li Auto Inc.,NaN,NaN,12.0,NaN,NaN,us,1791706.0,USD
AA,367153,Alcoa Corp,110004.0,US0138721065,12.0,12900.0,Alcoa Corp is an integrated aluminum company. ...,us,1675149.0,USD
AAC,7962652,Ares Acquisition Corporation,104002.0,US0003071083,12.0,NaN,Ares Acquisition Corporation does not have sig...,us,1829432.0,USD
AACB,18959140,Artius II Acquisition Inc. Class A Ordinary Sh...,104002.0,KYG0509J1076,12.0,NaN,Artius II Acquisition Inc. is a blank check co...,us,2034334.0,USD

In [16]:
df.columns
df.head()

              Open    High     Low   Close     Volume
Date
2015-01-02  4.9151  5.0331  4.8731  4.9849  134683010
2015-01-05  4.9259  4.9259  4.7147  4.7311  181612620
2015-01-06  4.7347  4.7640  4.5661  4.6501  160364400
2015-01-07  4.7347  4.7421  4.6271  4.6743   98500220
2015-01-08  4.7120  4.7836  4.6479  4.7779   96240690

In [17]:
shareprices = sf.load_shareprices(market='us', variant='daily')
shareprices.head()
shareprices.columns
shareprices.index.names

Dataset "us-shareprices-daily" on disk (0 days old).
- Loading from disk ...

C:\Users\dell\anaconda3\lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

FrozenList(['Ticker', 'Date'])

In [18]:
shares = (
    shareprices
    .reset_index()[['Ticker', 'Date', 'Shares Outstanding']]
)

In [19]:
shares['Date'] = pd.to_datetime(shares['Date'])
shares = shares.dropna(subset=['Shares Outstanding'])

In [20]:
import simfin as sf
import pandas as pd
import numpy as np

In [21]:
shareprices = sf.load_shareprices(market='us', variant='daily')

shares = (
    shareprices
    .reset_index()[['Ticker', 'Date', 'Shares Outstanding']]
)

shares['Date'] = pd.to_datetime(shares['Date'])
shares = shares.dropna(subset=['Shares Outstanding'])

Dataset "us-shareprices-daily" on disk (0 days old).
- Loading from disk ...

C:\Users\dell\anaconda3\lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

In [22]:
shares.head()
shares.shape

(5661738, 3)

In [23]:
shares_monthly = (
    shares
    .set_index('Date')
    .groupby('Ticker')['Shares Outstanding']
    .resample('ME')
    .last()
    .groupby(level=0)
    .ffill()
    .reset_index()
)

In [24]:
shares_monthly.head()
shares_monthly.shape

(280045, 3)

In [25]:
shares_monthly[shares_monthly['Ticker'] == 'AAPL'].head(15)

    Ticker       Date  Shares Outstanding
771   AAPL 2020-01-31        1.750192e+10
772   AAPL 2020-02-29        1.750192e+10
773   AAPL 2020-03-31        1.729595e+10
774   AAPL 2020-04-30        1.733734e+10
775   AAPL 2020-05-31        1.733734e+10
776   AAPL 2020-06-30        1.713576e+10
777   AAPL 2020-07-31        1.710254e+10
778   AAPL 2020-08-31        1.710254e+10
779   AAPL 2020-09-30        1.697676e+10
780   AAPL 2020-10-31        1.700180e+10
781   AAPL 2020-11-30        1.700180e+10
782   AAPL 2020-12-31        1.682326e+10
783   AAPL 2021-01-31        1.678810e+10
784   AAPL 2021-02-28        1.678810e+10
785   AAPL 2021-03-31        1.668630e+10

In [26]:
prices_long = (
    monthly_prices
    .stack()
    .reset_index()
    .rename(columns={0: 'Price'})
)

In [35]:
prices_long['Ticker'] = prices_long['Ticker'].str.replace('.US', '', regex=False)

In [36]:
prices_long['Ticker'].unique()[:5]

array(['AAPL', 'MSFT', 'AMZN', 'META', 'NVDA'], dtype=object)

In [37]:
prices_long.head()

        Date Ticker      Price
0 2015-01-31   AAPL  26.065500
1 2015-01-31   MSFT  34.694700
2 2015-01-31   AMZN  17.726500
3 2015-01-31   META  75.910000
4 2015-01-31   NVDA   0.460781

In [38]:
mcap = prices_long.merge(
    shares_monthly,
    on=['Date', 'Ticker'],
    how='inner'
)

In [39]:
mcap.head()
mcap.shape

(960, 4)

In [40]:
mcap['MarketCap'] = mcap['Price'] * mcap['Shares Outstanding']
mcap = mcap.dropna(subset=['MarketCap'])

In [41]:
mcap['MarketCap'].describe()

count    9.600000e+02
mean     6.881544e+11
std      7.856504e+11
min      7.773968e+10
25%      2.209566e+11
50%      3.356003e+11
75%      7.079499e+11
max      3.781148e+12
Name: MarketCap, dtype: float64

In [42]:
import numpy as np

mcap['RawSize'] = -np.log(mcap['MarketCap'])

In [43]:
mcap['RawSize'].describe()

count    960.000000
mean     -26.788052
std        0.898949
min      -28.961049
25%      -27.285568
50%      -26.539185
75%      -26.121232
max      -25.076632
Name: RawSize, dtype: float64

In [44]:
def winsorize(x, lower=0.025, upper=0.975):
    return x.clip(
        lower=x.quantile(lower),
        upper=x.quantile(upper)
    )

mcap['RawSize'] = (
    mcap
    .groupby('Date')['RawSize']
    .transform(winsorize)
)

In [45]:
mcap['RawSize'].describe()

count    960.000000
mean     -26.789173
std        0.886255
min      -28.908730
25%      -27.285568
50%      -26.539185
75%      -26.121232
max      -25.287430
Name: RawSize, dtype: float64

In [50]:
mcap['Size'] = (
    mcap
    .groupby('Date')['RawSize']
    .transform(lambda x: (x - x.mean()) / x.std())
)

In [51]:
mcap.groupby('Date')['Size'].mean().head()

Date
2020-01-31   -1.221245e-15
2020-02-29    3.066991e-15
2020-03-31    5.620504e-16
2020-04-30    1.401657e-15
2020-05-31   -1.651457e-15
Name: Size, dtype: float64

In [52]:
mcap.groupby('Date')['Size'].std().head()

Date
2020-01-31    1.0
2020-02-29    1.0
2020-03-31    1.0
2020-04-30    1.0
2020-05-31    1.0
Name: Size, dtype: float64

In [63]:
returns.columns = returns.columns.str.replace('.US', '', regex=False)

In [64]:
common_dates = size_exposure.index.intersection(returns.index)
common_tickers = size_exposure.columns.intersection(returns.columns)

size_exposure = size_exposure.loc[common_dates, common_tickers]
returns_aligned = returns.loc[common_dates, common_tickers]

In [65]:
size_exposure.shape
returns_aligned.shape

(60, 0)

In [58]:
size_exposure.isna().sum().sum()

0.0

In [66]:
factor_universe = size_exposure.columns

In [67]:
returns_restricted = returns.loc[:, returns.columns.intersection(factor_universe)]

In [68]:
common_dates = size_exposure.index.intersection(returns_restricted.index)

size_exposure = size_exposure.loc[common_dates, :]
returns_aligned = returns_restricted.loc[common_dates, :]

In [69]:
size_exposure.shape
returns_aligned.shape

(60, 0)

In [70]:
size_exposure = (
    mcap
    .pivot(index='Date', columns='Ticker', values='Size')
)

In [71]:
size_exposure.shape
size_exposure.columns[:5]

Index(['AAPL', 'AMZN', 'BAC', 'CVX', 'DIS'], dtype='object', name='Ticker')

In [72]:
returns.columns = returns.columns.str.replace('.US', '', regex=False)

In [73]:
factor_universe = size_exposure.columns

In [74]:
returns_restricted = returns.loc[:, returns.columns.intersection(factor_universe)]

In [75]:
returns_restricted.shape

(119, 16)

In [76]:
common_dates = size_exposure.index.intersection(returns_restricted.index)

size_exposure = size_exposure.loc[common_dates, :]
returns_aligned = returns_restricted.loc[common_dates, :]

In [77]:
size_exposure.shape
returns_aligned.shape
(size_exposure.columns == returns_aligned.columns).all()

False

In [78]:
size_exposure = size_exposure[returns_aligned.columns]

In [79]:
size_exposure.shape
returns_aligned.shape
(size_exposure.columns == returns_aligned.columns).all()

True

In [80]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(returns_aligned)

In [81]:
from sklearn.decomposition import PCA

pca = PCA(n_components=1)
market_scores = pca.fit_transform(X)

In [82]:
market_returns = pd.Series(
    market_scores.flatten(),
    index=returns_aligned.index,
    name='Market'
)

In [83]:
market_loadings = pd.Series(
    pca.components_[0],
    index=returns_aligned.columns,
    name='MarketLoading'
)

In [84]:
pca.explained_variance_ratio_

array([0.40106076])

In [85]:
market_loadings.describe()

count    16.000000
mean      0.243859
std       0.056875
min       0.134237
25%       0.206805
50%       0.239804
75%       0.277456
max       0.336410
Name: MarketLoading, dtype: float64

In [86]:
market_returns.describe()

count    6.000000e+01
mean     5.181041e-17
std      2.554552e+00
min     -7.155805e+00
25%     -1.553915e+00
50%      3.374335e-01
75%      1.743569e+00
max      5.394298e+00
Name: Market, dtype: float64

In [87]:
import numpy as np
import pandas as pd
from numpy.linalg import lstsq

In [88]:
factor_returns = []
residuals = {}

In [89]:
for date in returns_aligned.index:
    
    # 1. Dependent variable: stock returns at time t
    y = returns_aligned.loc[date]
    
    # 2. Exposures at time t
    X = pd.DataFrame({
        'Market': market_loadings,
        'Size': size_exposure.loc[date]
    })
    
    # Align and drop missing
    df = pd.concat([y, X], axis=1).dropna()
    
    y_clean = df[y.name]
    X_clean = df[['Market', 'Size']]
    
    # 3. Run OLS (unweighted for now)
    beta, _, _, _ = lstsq(X_clean.values, y_clean.values, rcond=None)
    
    # 4. Store factor returns
    factor_returns.append(
        pd.Series(beta, index=['Market', 'Size'], name=date)
    )
    
    # 5. Residuals
    residuals[date] = y_clean - X_clean @ beta

In [90]:
factor_returns = pd.DataFrame(factor_returns)

In [91]:
residuals = pd.DataFrame(residuals).T

In [92]:
factor_returns.describe()

          Market       Size
count  60.000000  60.000000
mean    0.042865  -0.009655
std     0.230160   0.025865
min    -0.584503  -0.070942
25%    -0.087352  -0.027444
50%     0.056616  -0.009898
75%     0.195653   0.009014
max     0.501427   0.051721

In [93]:
residuals.mean().abs().mean()

0.007476015877822264

In [94]:
r2 = []

for date in returns_aligned.index:
    y = returns_aligned.loc[date]
    X = pd.DataFrame({
        'Market': market_loadings,
        'Size': size_exposure.loc[date]
    })
    df = pd.concat([y, X], axis=1).dropna()
    
    y_clean = df[y.name]
    X_clean = df[['Market', 'Size']]
    
    y_hat = X_clean @ factor_returns.loc[date]
    
    r2.append(1 - np.var(y_clean - y_hat) / np.var(y_clean))

np.mean(r2)

0.14118832678937523

In [95]:
factor_cov = factor_returns.cov()
factor_cov

          Market      Size
Market  0.052974  0.000893
Size    0.000893  0.000669

In [96]:
lambda_ = 0.94
weights = np.array([(1 - lambda_) * lambda_**i for i in range(len(factor_returns))][::-1])
weights /= weights.sum()

demeaned = factor_returns - factor_returns.mean()
factor_cov_ewma = demeaned.T @ (demeaned.mul(weights, axis=0))
factor_cov_ewma

          Market      Size
Market  0.033325  0.000297
Size    0.000297  0.000463

In [97]:
idio_var = residuals.var()
idio_var.head()

AAPL    0.001670
MSFT    0.001348
AMZN    0.003294
META    0.011268
NVDA    0.012340
dtype: float64

In [98]:
idio_cov = np.diag(idio_var)
idio_cov = pd.DataFrame(
    idio_cov,
    index=idio_var.index,
    columns=idio_var.index
)

In [99]:
idio_var.describe()

count    16.000000
mean      0.004815
std       0.003925
min       0.001348
25%       0.002374
50%       0.003180
75%       0.005497
max       0.013171
dtype: float64

In [100]:
B = pd.DataFrame({
    'Market': market_loadings,
    'Size': size_exposure.mean()
})

In [101]:
Sigma = B @ factor_cov @ B.T + idio_cov
Sigma

,AAPL,MSFT,AMZN,META,NVDA,JPM,BAC,WFC,JNJ,PFE,XOM,CVX,KO,PG,DIS,NFLX
AAPL,0.007129,0.005229,0.004282,0.002905,0.003249,0.004173,0.003826,0.002574,0.002612,0.000927,0.002770,0.002834,0.002373,0.002086,0.003246,0.001747
MSFT,0.005229,0.006356,0.004103,0.002791,0.003126,0.004026,0.003701,0.002505,0.002521,0.000910,0.002680,0.002748,0.002302,0.002018,0.003147,0.001703
AMZN,0.004282,0.004103,0.006661,0.002319,0.002622,0.003425,0.003188,0.002221,0.002149,0.000841,0.002310,0.002395,0.002012,0.001736,0.002741,0.001521
META,0.002905,0.002791,0.002319,0.012993,0.002053,0.002887,0.002858,0.002256,0.001826,0.000994,0.002074,0.002261,0.001925,0.001544,0.002580,0.001591
NVDA,0.003249,0.003126,0.002622,0.002053,0.014861,0.003693,0.003768,0.003139,0.002346,0.001460,0.002736,0.003052,0.002613,0.002029,0.003479,0.002239
JPM,0.004173,0.004026,0.003425,0.002887,0.003693,0.007649,0.005996,0.005279,0.003627,0.002580,0.004359,0.004979,0.004287,0.003217,0.005668,0.003806
BAC,0.003826,0.003701,0.003188,0.002858,0.003768,0.005996,0.008037,0.005885,0.003840,0.002957,0.004703,0.005453,0.004711,0.003462,0.006202,0.004270
WFC,0.002574,0.002505,0.002221,0.002256,0.003139,0.005279,0.005885,0.008680,0.003398,0.002924,0.004284,0.005074,0.004405,0.003140,0.005765,0.004107
JNJ,0.002612,0.002521,0.002149,0.001826,0.002346,0.003627,0.003840,0.003398,0.004827,0.001668,0.002792,0.003197,0.002753,0.002060,0.003638,0.002453
PFE,0.000927,0.000910,0.000841,0.000994,0.001460,0.002580,0.002957,0.002924,0.001668,0.007816,0.002154,0.002594,0.002260,0.001573,0.002945,0.002153
XOM,0.002770,0.002680,0.002310,0.002074,0.002736,0.004359,0.004703,0.004284,0.002792,0.002154,0.008666,0.003968,0.003428,0.002518,0.004513,0.003108
CVX,0.002834,0.002748,0.002395,0.002261,0.003052,0.004979,0.005453,0.005074,0.003197,0.002594,0.003968,0.008550,0.004023,0.002915,0.005282,0.003696
KO,0.002373,0.002302,0.002012,0.001925,0.002613,0.004287,0.004711,0.004405,0.002753,0.002260,0.003428,0.004023,0.006518,0.002517,0.004573,0.003211
PG,0.002086,0.002018,0.001736,0.001544,0.002029,0.003217,0.003462,0.003140,0.002060,0.001573,0.002518,0.002915,0.002517,0.004690,0.003315,0.002276
DIS,0.003246,0.003147,0.002741,0.002580,0.003479,0.005668,0.006202,0.005765,0.003638,0.002945,0.004513,0.005282,0.004573,0.003315,0.009570,0.004198
NFLX,0.001747,0.001703,0.001521,0.001591,0.002239,0.003806,0.004270,0.004107,0.002453,0.002153,0.003108,0.003696,0.003211,0.002276,0.004198,0.016180

In [102]:
w = np.repeat(1 / len(B), len(B))
w = pd.Series(w, index=B.index)

In [103]:
portfolio_var = w.T @ Sigma @ w
portfolio_var

0.00345114846097046

In [104]:
factor_var = w.T @ (B @ factor_cov @ B.T) @ w
idio_var_port = w.T @ idio_cov @ w

factor_var, idio_var_port

(0.003150205123503666, 0.0003009433374667941)

In [105]:
mcr = Sigma @ w / np.sqrt(portfolio_var)
mcr = pd.Series(mcr, index=w.index)
mcr.sort_values(ascending=False)

BAC     0.077511
DIS     0.075389
JPM     0.074103
WFC     0.069829
CVX     0.067049
NFLX    0.061981
XOM     0.060708
NVDA    0.060073
KO      0.057355
AAPL    0.055281
MSFT    0.053053
META    0.048787
JNJ     0.048629
AMZN    0.047371
PG      0.043721
PFE     0.039104
dtype: float64

In [106]:
ccr = w * mcr
ccr.sort_values(ascending=False)

BAC     0.004844
DIS     0.004712
JPM     0.004631
WFC     0.004364
CVX     0.004191
NFLX    0.003874
XOM     0.003794
NVDA    0.003755
KO      0.003585
AAPL    0.003455
MSFT    0.003316
META    0.003049
JNJ     0.003039
AMZN    0.002961
PG      0.002733
PFE     0.002444
dtype: float64

In [107]:
ccr.sum()

0.05874647615789785

In [108]:
np.sqrt(portfolio_var)

0.058746476157897846

In [109]:
factor_mcr = (B @ factor_cov @ B.T @ w) / np.sqrt(portfolio_var)
factor_mcr = pd.Series(factor_mcr, index=B.index)

factor_ccr = w * factor_mcr
factor_ccr.sort_values(ascending=False)

BAC     0.004740
JPM     0.004501
DIS     0.004475
WFC     0.004160
CVX     0.003931
XOM     0.003445
KO      0.003383
AAPL    0.003344
MSFT    0.003226
NFLX    0.002998
NVDA    0.002934
JNJ     0.002872
AMZN    0.002742
PG      0.002544
META    0.002300
PFE     0.002028
dtype: float64

In [110]:
# Factor-level variance contribution
factor_var_contrib = np.diag(factor_cov) * (B.T @ w)**2
factor_var_contrib = pd.Series(
    factor_var_contrib,
    index=factor_cov.index
)

In [111]:
factor_vol_contrib = factor_var_contrib / np.sqrt(portfolio_var)
factor_vol_contrib

Market    5.362373e-02
Size      7.895670e-35
dtype: float64

In [112]:
factor_vol_contrib.sum() + (idio_var / np.sqrt(portfolio_var))

AAPL    0.082056
MSFT    0.076573
AMZN    0.109689
META    0.245430
NVDA    0.263683
JPM     0.087118
BAC     0.080364
WFC     0.105835
JNJ     0.096349
PFE     0.160053
XOM     0.142902
CVX     0.120069
KO      0.105245
PG      0.101898
DIS     0.114308
NFLX    0.277830
dtype: float64

In [113]:
np.sqrt(portfolio_var)

0.058746476157897846

In [115]:
factor_exposure = B.T @ w
factor_exposure

Market    2.438594e-01
Size     -8.326673e-17
dtype: float64

In [116]:
factor_var_contrib = (factor_exposure**2) * np.diag(factor_cov)
factor_var_contrib = pd.Series(
    factor_var_contrib,
    index=factor_cov.index,
    name='FactorVarianceContribution'
)

factor_var_contrib

Market    3.150205e-03
Size      4.638428e-36
Name: FactorVarianceContribution, dtype: float64

In [117]:
factor_vol_contrib = factor_var_contrib / np.sqrt(portfolio_var)
factor_vol_contrib

Market    5.362373e-02
Size      7.895670e-35
Name: FactorVarianceContribution, dtype: float64

In [118]:
idio_vol_contrib = idio_var_port / np.sqrt(portfolio_var)
idio_vol_contrib

0.005122747050528161

In [119]:
factor_vol_contrib.sum() + idio_vol_contrib

0.05874647615789785

In [120]:
np.sqrt(portfolio_var)

0.058746476157897846